
	
		<div class="row">
			<div class="navbar-header" style="background-color:#2c1656">
				<a class="navbar-brand" href="/">
					<img style="margin-bottom:-100px; width: 40px; height: 40px" src="/img/logo.png"/>
					
				</a>
			</div>
		</div>
	
